apiVersion: v1
kind: Secret
metadata:
  name: ${component}-service-account-key-pair
  namespace: karmada-system
type: Opaque
data:
  sa.pub: |
    ${sa_pub}
  sa.key: |
    ${sa_key}


#   1. 签发 Token (使用私钥)
#       * karmada-apiserver 扮演着 Kubernetes API Server 的角色。当一个 Pod 在 Karmada 控制平面内被创建并关联到一个 ServiceAccount 时，karmada-apiserver 需要为这个
#         Pod 生成一个有时效性的 Token。
#       * karmada-apiserver 会使用这个 Secret 中的私钥 (`sa.key`) 来对 JWT 格式的 Token 进行签名。这个签名保证了 Token 是由可信的 karmada-apiserver
#         签发的，并且没有被篡改。
#
#   2. 验证 Token (使用公钥)
#       * 当一个持有 ServiceAccount Token 的客户端（比如一个 Pod 里的应用）向 karmada-apiserver 发起请求时，karmada-apiserver 需要验证这个 Token 的合法性。
#       * 它会使用这个 Secret 中的公钥 (`sa.pub`) 来验证 Token 的签名。如果签名验证通过，karmada-apiserver 就能确认这个客户端的身份（即它所代表的
#         ServiceAccount），并根据该 ServiceAccount 的 RBAC 权限来决定是否允许其操作。